.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url(morocco-blue.png);
}

.headertop {
    height: 75px;
    background-color: coral;
    font-family: 'Bungee', cursive;
}

.headerbottom {
    height: 20px;
    background-color: darkorange;
}

.columnleft {
    height: 500px;
    width: 20%;
    float: left;
    background-color: dodgerblue;
}

.columncenter {
    height: 500px;
    width: 60%;
    float: left;
    background-color: darkgray;
    font-family: 'Roboto', sans-serif;
}

.columnright {
    height: 500px;
    width: 20%;
    float: left;
    background-color: darkslateblue;
}

.footer {
    height: 40px;
    width: 100%;
    float: left;
    background-color: forestgreen;
}